*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BFADEC;
}

#headerDiv
{
    height: 220px;
    width: auto;
    border-bottom: 2px solid black;
    display: flex;
    background: linear-gradient(45deg, #3498db, #9b59b6);
    position: relative;
}

#img 
{
    height: 180px;
    width: 180px;
    border: 2px solid black;
    background-color: rgb(70, 28, 28);
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#img:hover 
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#logo 
{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 10px;
    transition: box-shadow 0.3s ease;
}

#logo:hover 
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#textHeader
{
    margin: auto;
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
}

#header1 
{
    font-size: 2.5em;
    color: #004080; /* Dark blue color */
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Kalnia', serif;
}

#header2
{
    font-size: 1.1em;
    color: #333; /* Dark gray color */
    margin-bottom: 20px;
    font-family: 'Rethink Sans';
}

#icon 
{
    display: flex;
    align-items: center;
}

#icon i 
{
    font-size: 1.5em;
    margin-right: 10px;
    color: #fff; /* Icon color */
}

#icon i.gg-notifications 
{
    position: relative;
}

#icon i.gg-notifications::after 
{
    content: attr(data-count);
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #e74c3c; /* Notification badge background color */
    color: #fff; /* Notification badge text color */
    border-radius: 50%;
    padding: 4px;
    font-size: 0.8em;
}

footer 
{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-icons 
{
    margin-top: 20px;
}

.social-icons i 
{
    font-size: 32px;
    margin: 0 15px;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons i:hover 
{
    color: #00bcd4; /* Change the color on hover */
    cursor: pointer;
}

p.get-social 
{
    font-size: 18px;
    margin-bottom: 10px;
}

.box-hover 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00bcd4;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.footer3{
    margin: auto;
    color: aliceblue;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    text-align: justify;
}

.footer3 a
{
    text-decoration: none;
    color: burlywood;
}

.footer3 a:hover
{
    text-decoration: underline;
    border: 2px solid white;
    padding: 10px;
    color: #ddd;
    transition: 0.8s;
}

#last
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: brown;
    color: white;
}

#main 
{
    height: 550px;
    width: auto;
    display: flex;
    background-color: white;
    position: relative;
}

#firstImg
{
    margin-left: 150px;
    margin-top: 80px;
}

#main2
{
    margin-left: 190px;    
    position: relative;
}

#secondImg 
{
    position: absolute;
    z-index: +1;
    margin-left: 110px;
}

#content
{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    position: absolute;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input 
{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 270px;
}

h4
{
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    color: black
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
body
{
  background: #2f2f31;
  transform: rotateX(0.003deg);
  height: 100vh;
  color: #fff;
}

#submit
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #4f4f19;
  text-decoration: none;
  font-size:20px;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 1px solid #424219;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  cursor: pointer;
  border-radius: 20px;
  margin-top: 150px;
}

#submit::before 
{
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #cecd24;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
  border-radius: 20px;
}

#submit::after 
{
  content: "";
  display: inline-block;
  background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  border-radius: 20px;
}

#submit:hover
{
  padding: 0.5em 3.5em 0.5em 0.5em;
}

#submit:hover::before 
{
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  border-radius: 20px;
}

#submit:hover::after 
{
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  border-radius: 20px;
}